* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* changes the body color */
body {
    background-color: #d9dcd6;
}
/*effects the header container */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*effects the h1 tags inside the header container */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*effects the seo class inside h1 */
header h1 .seo {
    color: #d9dcd6;
}
/*effects the nav tags inside the header container */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* changes the list type inside nav tag */
header nav ul {
    list-style-type: none;
}
 /* effects the lists inside nav tag */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* changes the a tag color */
a {
    color: #ffffff;
    text-decoration: none;
}
/* changes the paragraphs font size */
p {
    font-size: 16px;
}
/*effects the figure container */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*the float left class */
.float-left {
    float: left;
    margin-right: 25px;
}
/*the float right class */
.float-right {
    float: right;
    margin-left: 25px;
}
/*effects the main container */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*effects the aside container */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*effects the content tag inside the aside container */
aside content {
    margin-bottom: 32px;
    color: #ffffff;
}
/*effects the h3 tag inside content tag */
aside content h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*effects the img tags inside content tag */
aside content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*effects the section container */
section {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}
/* effects img tag inside section container */
section img {
    max-height: 200px;

}
/* effects h2 tag inside section container */
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* effects the footer container */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* effects h2 inside footer container */
footer h2 {
    font-size: 20px;
}
